{{!-- This is the navbar section --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Freelance</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {{!-- <a class="nav-link active" aria-current="page" href="/home">Home</a> --}}
        <a class="nav-link" href="/profile/{{user.userName}}">Profile</a>
        <a class="nav-link" href="/profile/{{user.userName}}/addPost">Post a Job</a>
      </div>
      {{!-- This is where the form starts --}}
        <form action="/home" method="POST" class="d-flex" role="search">
          <div id="search">
            <label for="searchTerm" class='headerLink marginLeft12'>Search:</label>
            <input type="text" name="searchTerm" id="searchTerm">
            <button class="btn btn-outline-success btn btn-primary btn-sm home-search-btn " type="submit">Search</button>
          </div>
<div>            
          <div id="filter">
          <select class="home-drop-filter form-select form-select-sm mt-1 ms-1" name="filterJobType" id="filterJobType" onchange="this.form.submit()">
              <option value="Filter by Job Type">Filter by Job Type</option>
              <option value="In-Person">In-Person</option>
              <option value="Hybrid">Hybrid</option>
              <option value="Remote">Remote</option>
          </select>
          </div>
          </div>
        </form>
        {{!-- This is where the form ends --}}
      {{!-- <div class="logout-nav-button">
          <a class="nav-link" href="/logout">Log Out</a>
      </div> --}}
      <button class="logout-nav-button btn-sm" onclick="location.href='/logout'">Logout</button>
    </div>
  </div>
</nav>
{{!-- ending of navbar section --}}
<div class="container landing-page-cont">
  <h1>POSTED JOBS</h1>
  <div>
    <div class="card job-listing">
      <ul class="list-group list-group-flush">
    {{!-- {{#if allPosts}} --}}
        {{#each allPosts}}
          <li class="list-group-item">
            <div><p><a class="name" href="/post/{{this._id}}">Title: {{this.title}}   Location: {{this.location}}   Domain: {{this.domain}}  Job Type: {{this.jobtype}}  Salary: {{this.salary}}  Posted Time: {{this.postedTime}}</a></p></div>
          </li>
        {{/each}}
      </ul>
    </div>
    {{!-- {{else}}
        <p class="not-found">We're sorry, but no results were found for.</p>
      {{/if}} --}}
  </div>
  {{!-- <div>
    <button type="button" id = "profile" onclick="location.href='/profile/{{user.userName}}'">Profile</button>
  </div> --}}

  {{!-- <a href="/logout">Logout </a> --}}
</div>
{{#if error}}<div id="viewpost-error" class="error">{{error}}</div>{{/if}}
<script src="/public/js/landing.js"></script>